<div id="header">
  <ul class="nav justify-content-center">
    <img src="./assets/code+collaboration+github+network+round+social+icon-1320086084536018107.png" style="width:55px;height: 55px;margin-top: 20px;">
    <li class="nav-item">
      <a class="nav-link active" href="#" style="font-size: 50px; font-weight: bold;">GitSearch</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="font-weight: bold;font-size: 20px;">APP</a>
    </li>
  </ul>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header shadow p-3 mb-5 bg-white rounded">
          <h4 style="font-weight: bold;font-size: 300%;color: #007bff;">🕵️Find-user</h4>
        </div>
        <div class="card-body " style="background-color:white">
          <form class="form-inline">
            <div class="form-group ">
              <input [(ngModel)]="githubUserQuery" name="user" size="40" type="search" class="form-control">
            </div>
            <div>
              <input style="margin-left: 10%;" type="submit" value="search" class="btn btn-primary btn-sm" (click)="getUser()">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-cols-3">
    <div class="row justify-content-center">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 25rem;height: 25rem;">
      <img src="{{profile?.avatar_url}}" alt=""  style="width:200px;height:200px;border-radius:50%;margin-left:25%;margin-top:0%;justify-content: center;">
      <div class="card-body shadow p-3 mb-5 bg-white rounded">
        <h3 class="card-title"style="color: #007bff;font-weight:bold;">{{profile?.name}}</h3>
        <h6 class="card-text" style="font-weight: bolder;">{{profile?.bio}}</h6>
        <a href="{{profile?.html_url}}" target="_blank" class="btn btn-danger">Github</a>
      </div>
    </div>
 </div>
       <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card" style="width: 30%; margin-left: 35%;">
            <div class="card-body" *ngFor="let repo of repos">
              <h5 class="card-title"> Repo Name: {{repo.name}}</h5>
              <p class="card-text">{{repo.description}}</p>
              <button><a href="{{repo.html_url}}" target="_blank" class="btn btn-primary">View</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>